<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fniephaus.gmail</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3A4F3514-35F3-468B-836B-1493954FDCF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DAAEEB8-467C-45D3-A423-E03D9AAE6605</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A4411B91-9A35-47A7-8C6A-2DE6B51621E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A4F3514-35F3-468B-836B-1493954FDCF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F430998B-F7F1-4360-9E3F-B09A2F665025</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fabio Niephaus</string>
	<key>description</key>
	<string>Manage your Gmail inbox with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gmail Client for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F430998B-F7F1-4360-9E3F-B09A2F665025</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gmail</string>
				<key>runningsubtext</key>
				<string>Contacting gmail.com...</string>
				<key>script</key>
				<string>python gmail.py "{query}"</string>
				<key>subtext</key>
				<string>Manage your Gmail inbox with Alfred</string>
				<key>title</key>
				<string>Gmail</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Gmail Client for Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6DAAEEB8-467C-45D3-A423-E03D9AAE6605</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python gmail_launcher.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3A4F3514-35F3-468B-836B-1493954FDCF8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A4411B91-9A35-47A7-8C6A-2DE6B51621E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3A4F3514-35F3-468B-836B-1493954FDCF8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6DAAEEB8-467C-45D3-A423-E03D9AAE6605</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A4411B91-9A35-47A7-8C6A-2DE6B51621E0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F430998B-F7F1-4360-9E3F-B09A2F665025</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fniephaus/alfred-gmail/</string>
</dict>
</plist>
