<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fniephaus.gmail</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>025C8AA4-75F2-41DB-9BC6-AB8D7D125325</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DAAEEB8-467C-45D3-A423-E03D9AAE6605</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1656B006-EFBF-4B5A-97FC-314367CCACE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DAAEEB8-467C-45D3-A423-E03D9AAE6605</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2DCFD4C5-5CC5-4983-B5D9-94832C477A78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DAAEEB8-467C-45D3-A423-E03D9AAE6605</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3175C26B-F8B6-4845-983F-F70FEE68B12E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DAAEEB8-467C-45D3-A423-E03D9AAE6605</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5081EDFD-6764-4EBC-B6D1-04AE1836C1ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DAAEEB8-467C-45D3-A423-E03D9AAE6605</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A4F3514-35F3-468B-836B-1493954FDCF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5081EDFD-6764-4EBC-B6D1-04AE1836C1ED</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Mark Conversation As Read</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>025C8AA4-75F2-41DB-9BC6-AB8D7D125325</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Archive Conversation</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1656B006-EFBF-4B5A-97FC-314367CCACE4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Move Message To Trash</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2DCFD4C5-5CC5-4983-B5D9-94832C477A78</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Move Conversation To Trash</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3175C26B-F8B6-4845-983F-F70FEE68B12E</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Deauthorize Workflow</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fabio Niephaus</string>
	<key>description</key>
	<string>Manage your Gmail inbox with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gmail Client for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gmail</string>
				<key>runningsubtext</key>
				<string>Contacting gmail.com...</string>
				<key>script</key>
				<string>python gmail.py "{query}"</string>
				<key>subtext</key>
				<string>Manage your Gmail inbox with Alfred</string>
				<key>title</key>
				<string>Gmail</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Gmail Client for Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6DAAEEB8-467C-45D3-A423-E03D9AAE6605</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python gmail_launcher.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3A4F3514-35F3-468B-836B-1493954FDCF8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python gmail_launcher.py --mark-as-read "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5081EDFD-6764-4EBC-B6D1-04AE1836C1ED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python gmail_launcher.py --archive-conversation "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>025C8AA4-75F2-41DB-9BC6-AB8D7D125325</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python gmail_launcher.py --trash-message "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1656B006-EFBF-4B5A-97FC-314367CCACE4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python gmail_launcher.py --trash-conversation "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2DCFD4C5-5CC5-4983-B5D9-94832C477A78</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python gmail_launcher.py --deauthorize True</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3175C26B-F8B6-4845-983F-F70FEE68B12E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>025C8AA4-75F2-41DB-9BC6-AB8D7D125325</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>1656B006-EFBF-4B5A-97FC-314367CCACE4</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>2DCFD4C5-5CC5-4983-B5D9-94832C477A78</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>3175C26B-F8B6-4845-983F-F70FEE68B12E</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>3A4F3514-35F3-468B-836B-1493954FDCF8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5081EDFD-6764-4EBC-B6D1-04AE1836C1ED</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>6DAAEEB8-467C-45D3-A423-E03D9AAE6605</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E037422F-BB78-4C52-9EC9-D23FCF6CA31A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fniephaus/alfred2/</string>
</dict>
</plist>
